{
  "repositoryUrl": "https://github.com/bancolombia/distributed-performance-analyzer.git",
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}
